.Todo {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}
.Todo h1{
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding-left: 6%;;

}
.CounterStyle {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  outline: 0;
  margin: 0 auto;
}
.CounterStyle h3 {
  margin-left: auto;
  margin-right: auto;
  font-size: larger;
  text-align: left;
  padding-left: 20%;
  border-style: hidden;
  background-color: transparent;
  height: 3em;
  width: 40%;
  color: black;
}
.CounterStyle input {
  margin-left: 6%;
  margin-right: auto;
  width: 10%;
  border: 0;
  cursor: pointer;
}
button {
  width: 15%;
  font-size: large;
  outline: 0;
}
textarea {
  width: 60%;
  font-size: large;
  outline: 0;
}
input {
  width: 35%;
  font-size: large;
  outline: 0;
}
.ListItems {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  min-width: 30%;
}
.ItemAndCloser {
  background-color: rgba(233, 133, 193, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.TitleInput {
  font-size: larger;
  text-align: left;
  padding-left: 5%;
  text-decoration: underline;
  border-style: hidden;
  background-color: transparent;
  height: 3em;
  width: 80%;
  color: black;
  cursor: pointer;
}

.DeleteButton {
  border-style: hidden;
  background-color: transparent;
  width: 10%;
}
.TickItemclosed {
  font-size: larger;
  width: 5%;
}
.ContentArea {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  width: 100%;
}
.ContentArea textarea {
  width: auto;
  outline: 0;
  background-color: rgba(233, 133, 158, 0.3);
  border: 0;
  height: 4em;
}
.ContentArea input {
  width: auto;
}

.TodoAddElements {
  display: flex;
  justify-content: center;
  border: 0;
  outline: 0;
}

.ListItems li {
  list-style-type: none;
  margin-top: 5%;
}
