.Layout {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    flex: 0 0 auto;
    padding: 15px 50px;
    background: linear-gradient(75deg, #6b4192 0%, #e03d7f 42%, #f09c7f 100%);
    color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.18);
  }

  &__main {
    flex: 1;
    display: flex;
    overflow-y: auto;
  }
}
