html,
body,
#root {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  color: #212121;
  font-family: -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

li {
  line-height: 1.8;
}

code {
  margin-right: .2rem;
  padding: 2px 4px;
  background-color: #ffe3e3;
}
